$cv-color-prune-50: #f1e3e4;
$cv-color-prune-100: #d0bbbf;
$cv-color-prune-200: #ab9096;
$cv-color-prune-300: #88666e;
$cv-color-prune-400: #6f4852;
$cv-color-prune-500: #572b38;
$cv-color-prune-600: #4c2431;
$cv-color-prune-700: #3e1a26;
$cv-color-prune-800: #2e101d;
$cv-color-prune-900: #210011;

$cv-color-purple-50: #f6e1e7;
$cv-color-purple-100: #eab5c3;
$cv-color-purple-200: #db869d;
$cv-color-purple-300: #cd5978;
$cv-color-purple-400: #c23c5f;
$cv-color-purple-500: #b82248;
$cv-color-purple-600: #a92045;
$cv-color-purple-700: #941d41;
$cv-color-purple-800: #80193c;
$cv-color-purple-900: #5c1533;

$cv-color-orange-50: #fde9e7;
$cv-color-orange-100: #ffcbbc;
$cv-color-orange-200: #ffa990;
$cv-color-orange-300: #ff8664;
$cv-color-orange-400: #ff6942;
$cv-color-orange-500: #ff4c20;
$cv-color-orange-600: #ff461c;
$cv-color-orange-700: #f13e16;
$cv-color-orange-800: #e33612;
$cv-color-orange-900: #ca2706;

:root {
  --cv-color-primary: #210011;
  --cv-color-secondary: #5c1533;
  --cv-color-tertiary: #ff461c;

  --cv-text-color-primary: #fde9e7;
}
