@use '../../../assets/styles/variables/colors' as colors;
@use '../../../assets/styles/mixins' as mixins;

$componentId: 'experience-main';

:host {
  width: 450px;
  height: 500px;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.#{$componentId} {
  &-header {
    height: 200px;
    display: flex;
    flex-direction: column;

    &-employer, &-client {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-employer {
      height: 100%;
      background: linear-gradient(colors.$cv-color-orange-600, colors.$cv-color-orange-400 50%, colors.$cv-color-orange-200 80%, colors.$cv-color-orange-50);
    }

    &-employer.employer-not-alone {
      height: 40%;
      background: linear-gradient(colors.$cv-color-orange-600, colors.$cv-color-orange-400);
    }

    &-client {
      height: 60%;
      background: linear-gradient(colors.$cv-color-orange-400, colors.$cv-color-orange-300 50%, colors.$cv-color-orange-200, colors.$cv-color-orange-50);
    }
   }

  &-content {
    height: 300px;
    padding: var(--cv-dim-s);
    @include mixins.border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--cv-color-primary);
    background-color: var(--cv-text-color-primary);

    &-header {
      display: flex;
      justify-content: space-between;

      &-roles {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      &-techs-chip {
        background-color: var(--cv-color-secondary) !important;
      }
    }

    &-footer {
      margin-top: var(--cv-dim-s);
    }
  }
}
