<div class="experience-main-header">
  <a
    [href]="project.employer.link"
    target="_blank"
    class="experience-main-header-employer"
    [class.employer-not-alone]="!!project.client"
  >
    <img [src]="project.employer.logo" width="200px" />
  </a>
  <a
    [href]="project.employer.link"
    target="_blank"
    class="experience-main-header-client"
    *ngIf="project.client"
  >
    <img [src]="project.client.logo" width="200px" />
  </a>
</div>
<div class="experience-main-content">
  <div class="experience-main-content-header">
    <ul class="experience-main-content-header-roles">
      <li *ngFor="let role of project.roles">
        <strong>{{ role }}</strong>
      </li>
    </ul>
    <button mat-fab color="warn" (click)="more()">
      <mat-icon svgIcon="expand_more"></mat-icon>
    </button>
  </div>
  <mat-chip-set class="experience-main-content-header-techs">
    <mat-chip
      class="experience-main-content-header-techs-chip"
      color="accent"
      *ngFor="let tech of project.techs"
    >
      {{ tech }}
    </mat-chip>
  </mat-chip-set>
  <div class="experience-main-content-footer">
    <div class="cv-icon-label">
      <mat-icon [svgIcon]="'place'"></mat-icon>
      <span>{{ project.place }}</span>
    </div>
    <div class="cv-icon-label">
      <mat-icon [svgIcon]="'date_range'"></mat-icon>
      <span>{{ project.period }}</span>
    </div>
  </div>
</div>
