<mat-toolbar color="primary" class="toolbar">
  <button mat-button (click)="scrollTo('profile')">IKER BEDECARRAX</button>
  <nav
    mat-tab-nav-bar
    color="accent"
    backgroundColor="primary"
    [tabPanel]="undefined"
    *ngIf="(isMobile$ | async) === false"
  >
    <a
      mat-tab-link
      class="toolbar-nav-tab"
      *ngFor="let anchor of anchors"
      (click)="scrollTo(anchor)"
    >
      {{ anchor | uppercase }}
    </a>
  </nav>
  <div class="toolbar-actions">
    <button
      mat-icon-button
      matTooltip="Navigate"
      *ngIf="isMobile$ | async"
      [matMenuTriggerFor]="sectionsMenu"
    >
      <mat-icon svgIcon="anchor"></mat-icon>
    </button>
    <mat-menu #sectionsMenu="matMenu" class="cv-menu">
      <button
        mat-menu-item
        *ngFor="let anchor of anchors"
        (click)="scrollTo(anchor)"
      >
        {{ anchor | uppercase }}
      </button>
    </mat-menu>
    <a
      href="assets/cv_iker_bedecarrax.pdf"
      download
      mat-icon-button
      matTooltip="Download PDF"
    >
      <mat-icon svgIcon="download"></mat-icon>
    </a>
    <div class="toolbar-actions-more" *ngIf="(isMobile$ | async) === false">
      <button mat-icon-button matTooltip="Contact" (click)="openContactSheet()">
        <mat-icon svgIcon="contact_page"></mat-icon>
      </button>
      <a
        mat-icon-button
        target="_blank"
        href="https://www.linkedin.com/in/iker-b%C3%A9d%C3%A9carrax-686161131/"
      >
        <mat-icon svgIcon="linkedin"></mat-icon>
      </a>
      <a mat-icon-button target="_blank" href="https://github.com/ikerbede">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
    </div>
    <button
      mat-icon-button
      *ngIf="isMobile$ | async"
      [matMenuTriggerFor]="moreActionsMenu"
    >
      <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
    <mat-menu #moreActionsMenu="matMenu" class="cv-menu">
      <button mat-menu-item (click)="openContactSheet()">
        <mat-icon svgIcon="contact_page"></mat-icon>
        <span>Contact</span>
      </button>
      <a
        mat-menu-item
        target="_blank"
        href="https://www.linkedin.com/in/iker-b%C3%A9d%C3%A9carrax-686161131/"
      >
        <mat-icon svgIcon="linkedin"></mat-icon>
        <span>LinkedIn</span>
      </a>
      <a mat-menu-item target="_blank" href="https://github.com/ikerbede">
        <mat-icon svgIcon="github"></mat-icon>
        <span>Github</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
