$componentId: 'contact';

.#{$componentId} {
  &-details {
    height: 120px;
    margin: 0;
    padding: var(--cv-dim-sm) var(--cv-dim-xxl);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    list-style: none;
    background-color: var(--cv-text-color-primary);

    &-item {
      &-value {
        display: flex;
        align-items: center;

        font-size: var(--cv-font-size);
        color: var(--cv-color-primary);

        span {
          margin-left: var(--cv-dim-sm);
        }
      }
    }
  }
}
