<ul class="contact-details">
  <li class="contact-details-item">
    <a
      href="tel:+33 7 81 85 30 03"
      target="_blank"
      class="contact-details-item-value"
    >
      <button mat-mini-fab color="warn">
        <mat-icon svgIcon="phone"></mat-icon>
      </button>
      <span>+33 7 81 85 30 03</span>
    </a>
  </li>
  <li class="contact-details-item">
    <a
      href="mailto:iker.bedecarrax@gmail.com"
      target="_blank"
      class="contact-details-item-value"
    >
      <button mat-mini-fab color="warn">
        <mat-icon svgIcon="email"></mat-icon>
      </button>
      <span>iker.bedecarrax@gmail.com</span>
    </a>
  </li>
</ul>
