<ul class="intro">
  <li class="intro-item">
    <button mat-mini-fab color="primary" class="intro-item-badge">
      <mat-icon svgIcon="favorite" class="intro-item-badge-icon"></mat-icon>
    </button>
    <span class="intro-item-text">Angular</span>
  </li>
  <li class="intro-item">
    <button mat-mini-fab color="primary" class="intro-item-badge">
      <mat-icon svgIcon="search" class="intro-item-badge-icon"></mat-icon>
    </button>
    <span class="intro-item-text">Quality</span>
  </li>
  <li class="intro-item">
    <button mat-mini-fab color="primary" class="intro-item-badge">
      <mat-icon
        svgIcon="location_searching"
        class="intro-item-badge-icon"
      ></mat-icon>
    </button>
    <span class="intro-item-text">Expert</span>
  </li>
</ul>
