<button class="experience-item" type="button">
  <div class="experience-item-image-container">
    <img
      class="experience-item-image"
      [src]="project.client?.logo ?? project.employer.logo"
    />
  </div>
  <section class="experience-item-content">
    <h3 class="experience-item-content-title">{{ project.role }}</h3>
    <div class="cv-icon-label">
      <mat-icon svgIcon="date_range"></mat-icon>
      <span>{{ project.period }}</span>
    </div>
    <div class="cv-icon-label">
      <mat-icon svgIcon="place"></mat-icon>
      <span>{{ project.place }}</span>
    </div>
  </section>
</button>
