@use '../../assets/styles/breakpoints' as breakpoints;

$componentId: 'global';

.#{$componentId} {
  &-offset {
    height: var(--cv-dim-xxl);
  }

  &-content {
    background-color: var(--cv-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-section {
    width: 100%;
    padding: var(--cv-dim-xl) 5%;
    margin-bottom: var(--cv-dim-xl);

    &-title {
      margin-top: 0;
      margin-bottom: var(--cv-dim-xxl);
      color: var(--cv-text-color-primary);
      font-size: var(--cv-dim-l);
    }
  }

  &-school {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: breakpoints.$cv-breakpoint-s-max-width) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
