<div class="global-offset"></div>
<div class="global-content">
  <section id="profile" class="global-section global-section-profile">
    <h1 class="global-section-title">Profile</h1>
    <cv-profile class="global-section-content"></cv-profile>
  </section>
  <section id="techs" class="global-section">
    <h1 class="global-section-title">Favorite Techs</h1>
    <cv-techs class="global-section-content"></cv-techs>
  </section>
  <section id="experience" class="global-section">
    <h1 class="global-section-title">Work experience</h1>
    <cv-experiences class="global-section-content"></cv-experiences>
  </section>
  <section id="publications" class="global-section">
    <h1 class="global-section-title">Publications</h1>
    <cv-publications class="global-section-content"></cv-publications>
  </section>
  <div id="education" class="global-school">
    <section class="global-section">
      <h1 class="global-section-title">Education</h1>
      <cv-education class="global-section-education"></cv-education>
    </section>
    <section class="global-section">
      <h1 class="global-section-title">Languages</h1>
      <cv-languages class="global-section-languages"></cv-languages>
    </section>
  </div>
</div>
