<div class="profile-picture mat-elevation-z8"></div>
<div class="profile-content">
  <div class="profile-content-title mat-elevation-z8">
    <span class="profile-content-title-name">Iker Bédécarrax</span>
    <span class="profile-content-title-role">ANGULAR DEVELOPER</span>
  </div>
  <ul class="profile-content-items">
    <li class="profile-content-item">
      <div class="profile-content-item-icon">
        <mat-icon svgIcon="school"></mat-icon>
      </div>
      <p class="profile-content-item-text">
        From a starting background in Physics, I have become a thorough Angular
        developer fond of clean code and up-to-date best practices!
      </p>
    </li>
    <li class="profile-content-item">
      <div class="profile-content-item-icon">
        <mat-icon svgIcon="insights"></mat-icon>
      </div>
      <p class="profile-content-item-text">
        In my everyday work, I look for the best quality in Angular code,
        thinking about the most performant and maintainable architecture and
        always glad to start a large refactoring.
      </p>
    </li>
    <li class="profile-content-item">
      <div class="profile-content-item-icon">
        <mat-icon svgIcon="angular"></mat-icon>
      </div>
      <p class="profile-content-item-text">
        As we used to hear, a good engineer is not technology focused as he
        adapts his technology needs to the problem he faces. Unfortunately, I
        might not be a good engineer because I am completely Angular focused! :D
      </p>
    </li>
  </ul>
  <div class="profile-content-actions">
    <button mat-raised-button color="warn" (click)="openContactSheet()">
      CONTACT ME
    </button>
    <a
      href="assets/cv_iker_bedecarrax.pdf"
      download
      mat-raised-button
      color="warn"
    >
      DOWNLOAD PDF
    </a>
  </div>
</div>
