$cv-breakpoint-xs-max-width: 599.98px;
$cv-breakpoint-s-min-width: 600px;
$cv-breakpoint-s-max-width: 959.98px;
$cv-breakpoint-m-min-width: 960px;
$cv-breakpoint-m-max-width: 1279.98px;
$cv-breakpoint-l-min-width: 1280px;
$cv-breakpoint-l-max-width: 1919.98px;
$cv-breakpoint-xl-min-width: 1920px;
