<ul class="publications">
  <li *ngFor="let publication of publications">
    <a
      class="publications-item mat-elevation-z3"
      target="_blank"
      [href]="publication.url"
    >
      <div class="publications-item-image-container">
        <img
          class="publications-item-image"
          [src]="publication.imageUrl"
          *ngIf="publication.imageUrl"
        />
      </div>
      <section class="publications-item-content">
        <p>{{ publication.title }}</p>
        <time [dateTime]="publication.date">
          {{ publication.date | date }}
        </time>
      </section>
    </a>
  </li>
</ul>
