@use '../../assets/styles/variables/colors' as colors;

$componentId: 'publications';

.#{$componentId} {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--cv-dim-m);

  list-style: none;

  &-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: colors.$cv-color-green-500;
    border-radius: var(--cv-dim-xs);

    &-image-container {
      width: 100%;
      height: 170px;

      display: flex;
      justify-content: center;

      border-radius: var(--cv-dim-xs);
      background-color: var(--cv-text-color-primary);
    }

    &-image {
      width: 260px;
    }

    &-content {
      padding: var(--cv-dim-s);

      color: var(--cv-color-primary);

      p {
        margin: 0;
        font-size: small;
      }

      time {
        font-size: x-small;
      }
    }
  }
}
