.sidenav-container {
  height: 100%;
}

.sidenav-container > mat-sidenav {
  border-right: 1px solid var(--cv-text-color-primary);
}

.sidenav-container > mat-sidenav,
.sidenav-content {
  background-color: var(--cv-color-primary);
}

.sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav-content-main {
  padding: var(--cv-dim-m);
  overflow: auto;
}
